stages:
 - test

unittest: # Name of the job
  stage: test
  image: sphiredevel/pystardb-ut:latest # Image that should be used
  script:
- source activate pystar; pip uninstall pystar -y; python setup.py install; pip install coverage pytest pytest-cov; pytest --cov=pyStarDB/; coverage xml --ignore-error